/* here you can put your own css to customize and override the theme */

#listActiveGenetics {
	margin-top:2%;
	margin-left:1%;
}

.textareaHistoric {
	width:100%;
	height: 100px;
}

.columnStep {
	width:200px;
	padding-right:40px;
}

#tableHistoric {
	margin-top:5%;
}



.geneticAdd {
	margin-right:1%;
	margin-bottom:1%;
	margin-top:1%;
	width:180px;
}

#tableGenetics tr td{
	border-top: 0px;
}


.center {
	text-align: center;
	width:200px;
}

#textareaDisabled {
	width:100%;
	height:140px;
}

.gapPhoto {
	border-style: solid;
    border-width: 1px;
    width:310px;
    height:200px;
}

#divCanvas {
	margin-top:10%;
}

.tableStadistic {
	margin-top:2%;
}


.textGreen {
	color:green;
	font-weight: bold;
}

.textRed {
	color:red;
	font-weight: bold;
}